<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Instituciones</h3>
      </div>              
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%=form_for [:admins , @institution],:html => {class: "form-horizontal form-label-left",novalidate: "novalidate"}  do |f|%>
            <% if @institution.errors.any? %>
            <div id="error_explanation">
             <ul>
            <% @institution.errors.full_messages.each do |message| %>
            
            <li><%= message %></li>
            
            <% end %>
            </ul>
            </div>
            <% end %> 
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact">Contacto ID <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :contact_id, Contact.order(:first_name,:id), :id, :first_name, {prompt: "Seleccione Contacto"}, {class: "form-control"}%>                        
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :name,required: "required", class: "form-control col-md-7 col-xs-12"%>
              </div>
            </div>
            <!-- <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact_personal">OWNER NAME <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%#=f.text_field :contact_personal,required: "required", class: "form-control col-md-7 col-xs-12"%>                        

              </div>
            </div> -->

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Correo Electrónico <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                        
                <%=f.email_field :email,required: "required", class: "form-control col-md-7 col-xs-12"%>

              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Teléfono<span class="required">*</span>
              </label>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :contact_number,required: "required", class: "form-control col-md-7 col-xs-12",onkeypress: "return isnumber(event)"%> 
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location">Ubicación  <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :location,required: "required", class: "form-control col-md-7 col-xs-12"%> 
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">Pais <span class="required">*</span>
              </label>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :country,required: "required", class: "form-control col-md-7 col-xs-12"%> 
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">Estado  <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :state,required: "required", class: "form-control col-md-7 col-xs-12"%> 
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="latitude">Latitude <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12 input input-container coords w2">
                <%#=f.text_field :latitude,required: "required", class: "cords latlong form-control col-md-7 col-xs-12", onkeypress: "return isFloat(event)"%>

                <input type="coords" id="latitude" class = "cords latlong form-control col-md-7 col-xs-12" required= "required" name="latitude" value= "<%= @institution.latitude['full_latitude'] rescue nil%>">
              </div>
            </div>
                        
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="longitude">Longitude <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12 input input-container coords w2">
                <%#=f.text_field :longitude,required: "required", class: "latlong form-control col-md-7 col-xs-12", onkeypress: "return isFloat(event)"%>
                 <input type="coords" id="longitude" class = "cords latlong form-control col-md-7 col-xs-12" required= "required" name="longitude" value= "<%= @institution.longitude['full_longitude'] rescue nil%>"> 
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Status <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
               <%= f.select :status, Institution.statuses.keys,{},class: "form-control"%>
              </div>
              </div>
            
             <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">Descripción <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_area :description,required: "required", class: "form-control col-md-7 col-xs-12"%> 
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location">Logo  <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="upload_image_right">
                    <div class="upload_image_box">
                        <%=image_tag(get_institute_image(@institution),class: "resolve",style: "height:120px; width:200px;")%>
                    </div>
                    <div class="upload_image_btn">
                        <div class="fileUpload btn btn-primary">
                            <span>+</span>
                            <%=f.file_field :logo , class: "form-control col-md-7 col-xs-12 upload"%>
                        </div>
                    </div>
                    </div>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
              <%=f.submit "Guardar" ,class: "btn btn-success"%>
              <%=link_to "Cancelar",admins_institutions_path,class: "btn btn-primary"%>
              </div>
            </div>
            <%end%>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    coords.init( '.latlong' );
    $("#institution_logo").on('change', function () {
      if (typeof(FileReader) != "undefined") {
          var image_holder = $(".upload_image_box");
          image_holder.empty();

          var reader = new FileReader();
          reader.onload = function (e) {
              $("<img />", {
                  "src": e.target.result,
                  "class": "thumb-image resolve",
                  "style": "width:120px; height:120px;"
              }).appendTo(image_holder);
          }
          image_holder.show();
          reader.readAsDataURL($(this)[0].files[0]);
      } else {
          alert("This browser does not support FileReader.");
      }
  });
    })
</script>