
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>New User</h3>
      </div>              
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%=form_for [:admins , @user],:html => {class: "form-horizontal form-label-left",novalidate: "novalidate"}  do |f|%>
            <!-- <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Institute <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%#= f.collection_select :institution_id, Institution.order(:name,:id), :id, :name, {prompt: "Select a Institution"}, {class: "form-control"}%>                        
              </div>
            </div> -->

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Escuela <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :school_id, School.order(:name,:id), :id, :name, {prompt: "Escuela"}, {class: "form-control"}%>                        
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :first_name,required: "required", class: "form-control col-md-7 col-xs-12"%>
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact_personal">Apellidos <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :last_name, class: "form-control col-md-7 col-xs-12"%>                        

              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Correo Electrónico <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                        
                <%=f.email_field :email,required: "required", class: "form-control col-md-7 col-xs-12"%>

              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_number">Número Alumno<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :student_number,required: "required", class: "form-control col-md-7 col-xs-12"%>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Sexo <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.select :gender, User.genders.keys,{},class: "form-control"%>

              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="school_Grade">Grado Escolar <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                        
                <%=f.text_field :school_Grade,required: "required", class: "form-control col-md-7 col-xs-12"%>

              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="degree">Carrera<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :degree,required: "required", class: "form-control col-md-7 col-xs-12"%>
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="father_name">Nombre del Padre <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :father_name,required: "required", class: "form-control col-md-7 col-xs-12"%>                        

              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="father_email">Email del Padre <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                        
                <%=f.email_field :father_email, class: "form-control col-md-7 col-xs-12"%>

              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mother_name">Nombre de la Madre <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :mother_name,required: "required", class: "form-control col-md-7 col-xs-12"%>                        

              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mother_email">Email de la Madre <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                        
                <%=f.email_field :mother_email, class: "form-control col-md-7 col-xs-12"%>

              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Status">Status<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.select :Status, User.Statuses.keys,{},class: "form-control"%>
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location">Foto  <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="upload_image_right">
                  <div class="upload_image_box">
                    <%=image_tag(get_user_image(@user),class: "resolve",style: "height:123px; width:201px;")%>
                  </div>
                  <div class="upload_image_btn">
                    <div class="fileUpload btn btn-primary">
                      <span>+</span>
                      <%=f.file_field :picture , class: "form-control col-md-7 col-xs-12 upload"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>  



            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
              <%=f.submit "Guardar" ,class: "btn btn-success"%>
              <%=link_to "Cancelar",admins_users_path,class: "btn btn-primary"%>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){


    $("#user_picture").on('change', function () {

      if (typeof(FileReader) != "undefined") {

        var image_holder = $(".upload_image_box");
        image_holder.empty();

        var reader = new FileReader();
        reader.onload = function (e) {
          $("<img />", {
            "src": e.target.result,
            "class": "thumb-image resolve",
            "style": "width:120px; height:120px;"
          }).appendTo(image_holder);
        }
        image_holder.show();
        reader.readAsDataURL($(this)[0].files[0]);
      } else {
        alert("This browser does not support FileReader.");
      }
    });
  })
</script>