<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Contact</h3>
      </div>              
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%=form_for [:admins , @contact],:html => {class: "form-horizontal form-label-left",novalidate: "novalidate"}  do |f|%> 

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :first_name,required: "required", class: "form-control col-md-7 col-xs-12",readonly:true%>
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact_personal">Apellidos <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :last_name,required: "required", class: "form-control col-md-7 col-xs-12",readonly:true%>                        

              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Correo electrónico <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                        
                <%=f.email_field :email,required: "required", class: "form-control col-md-7 col-xs-12",readonly:true%>

              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Telefono <span class="required">*</span>
              </label>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :phone_number,required: "required", class: "mobile_number_format form-control col-md-7 col-xs-12",readonly:true%> 
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Celular <span class="required">*</span>
              </label>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :mobile_number,required: "required", class: "mobile_number_format form-control col-md-7 col-xs-12",readonly:true%> 
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="skype">Skype  <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :skype,required: "required", class: "form-control col-md-7 col-xs-12",readonly:true%>
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="notes">Notas  <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_area :notes,required: "required", class: "form-control col-md-7 col-xs-12",readonly:true%>
              </div>
            </div>           
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <%=link_to "Editar",edit_admins_contact_path(@contact),class: "btn btn-primary"%>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    mobileNumberFormat()
  })
</script>