<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Asignaciones</h3>
      </div>              
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%=form_for [:admins , @assignment],:html => {class: "form-horizontal form-label-left",novalidate: "novalidate"}  do |f|%>

            <% if @assignment.errors.any? %>
            <div id="error_explanation">
             <ul>
            <% @assignment.errors.full_messages.each do |message| %>
            
            <li><%= message %></li>
            
            <% end %>
            </ul>
            </div>
            <% end %>
            
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Escuela <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :school_id, get_school_list.order(:name,:id), :id, :name, {prompt: "Select Escuela"}, {class: "form-control",required: true}%>                        
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Group_ID">Grupo ID <span class="required">*</span>
              </label>
             <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :group_id, Group.order(:Group_ID,:id), :id, :Group_ID, {prompt: "Select Grupo"}, {class: "form-control",required: true}%>                        
              </div>
            </div>
   
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Group_ID">Estudiante ID <span class="required">*</span>
              </label>
             <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :user_id, User.order(:first_name,:id), :id, :first_name, {prompt: "Select Estudiante"}, {class: "form-control",required: true}%>                        
              </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
              <%=f.submit "Guardar" ,class: "btn btn-success"%>
              <%=link_to "Cancelar",admins_assignments_path,class: "btn btn-primary"%>
              </div>
            </div>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  #error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation, .field_with_errors{width:100%;}
</style>

<script type="text/javascript">
$("#assignment_school_id").change(function(){


    $.ajax({
      type: "POST",
      url: "/admins/assignments/get_group_and_student",
      dataType: "json",
      data: {
        school: $("#assignment_school_id").val()
      },
      success: function (result) {
                var group = $("#assignment_group_id");
                var student = $("#assignment_user_id");
                if (result && result != null && result.groups.length > 0) {

                    group.html('');

                    for (var i = 0; i < result.groups.length; i++) {
                        group.append('<option value=' + result.groups[i].id + '>' + result.groups[i].Group_ID + '</option>');
                    }
                    
                }
                else {
                    group.html('');

                }

                 if (result && result != null && result.students.length > 0) {

                    student.html('');

                    for (var i = 0; i < result.students.length; i++) {
                        student.append('<option value=' + result.students[i].id + '>' + result.students[i].email + '</option>');
                    }
                    
                }
                else {
                    student.html('');

                }

            }
    })
    })
</script>