<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Asignaciones</h3>
      </div>              
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%=form_for [:admins , @assignment],:html => {class: "form-horizontal form-label-left",novalidate: "novalidate"}  do |f|%>
            
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Escuela <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :school_id, School.order(:name,:id), :id, :name, {prompt: "Select a Role"}, {class: "form-control",disabled: true}%>                        
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Group_ID">Grupo ID <span class="required">*</span>
              </label>
             <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :group_id, Group.order(:Group_ID,:id), :id, :Group_ID, {prompt: "Select a Group"}, {class: "form-control",disabled: true}%>                        
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Group_ID">Estudiante ID <span class="required">*</span>
              </label>
             <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :user_id, User.order(:first_name,:id), :id, :first_name, {prompt: "Select a Student"}, {class: "form-control",disabled: true}%>                        
              </div>
            </div>
   
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <%=link_to "Editar",edit_admins_assignment_path(@assignment),class: "btn btn-primary"%>
                 <%=link_to "Cancelar",admins_assignments_path,class: "btn btn-primary"%>
              </div>
            </div>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>