<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Proveedores</h3>
      </div>              
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%=form_for [:admins , @merchant],:html => {class: "form-horizontal form-label-left",novalidate: "novalidate"}  do |f|%>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Escuelas <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <%if @merchant.new_record?%>
                <%= f.collection_select :school_id, School.order(:name,:id), :id, :name, {blank: true}, {class: "form-control",multiple: true,required: true}%>
                <%else%>
                <%= f.collection_select :school_id, @merchant.schools.order(:name,:id), :id, :name, {blank: true}, {class: "form-control",multiple: true,required: true}%>
                <%end%>
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :name,required: "required", class: "form-control col-md-7 col-xs-12"%>
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Título <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :title,required: "required", class: "form-control col-md-7 col-xs-12"%>                        

              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Descripción<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                        
                <%=f.text_field :description,required: "required", class: "form-control col-md-7 col-xs-12"%>

              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="image">Image  <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="upload_image_right">
                    <div class="upload_image_box">
                        <%=image_tag(get_merchant_image(@merchant),class: "resolve",style: "height:120px; width:202px;")%>
                    </div>
                    <div class="upload_image_btn">
                        <div class="fileUpload btn btn-primary">
                            <span>+</span>
                            <%=f.file_field :picture , class: "form-control col-md-7 col-xs-12 upload"%>
                            <!-- <input type="file" class="upload" /> -->
                        </div>
                    </div>
                    </div>
              </div>
            </div>
 
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
              <%=f.submit "Guardar" ,class: "btn btn-success"%>
              <%=link_to "Cancelar",admins_merchants_path,class: "btn btn-primary"%>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
   $( "#merchant_school_id" ).select2()
    
    $("#merchant_picture").on('change', function () {

      if (typeof(FileReader) != "undefined") {

        var image_holder = $(".upload_image_box");
        image_holder.empty();

        var reader = new FileReader();
        reader.onload = function (e) {
          $("<img />", {
            "src": e.target.result,
            "class": "thumb-image resolve",
            "style": "width:120px; height:120px;"
          }).appendTo(image_holder);
        }
        image_holder.show();
        reader.readAsDataURL($(this)[0].files[0]);
      } else {
        alert("This browser does not support FileReader.");
      }
    });
  })
</script>

<style type="text/css">

</style>