<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3> Servicios </h3>
      </div>              
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%=form_for [:admins , @service],:html => {class: "form-horizontal form-label-left",novalidate: "novalidate"}  do |f|%>
             <% if @service.errors.any? %>
            <div id="error_explanation">
             <ul>
            <% @service.errors.full_messages.each do |message| %>
            
            <li><%= message %></li>
            
            <% end %>
            </ul>
            </div>
            <% end %> 
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Escuela <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.collection_select :school_id, School.order(:name,:id), :id, :name, {}, {class: "form-control", multiple: true }%>                        
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Servicio <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :title,required: "required", class: "form-control col-md-7 col-xs-12"%>
              </div>
            </div>           

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Correo Electrónico <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                        
                <%=f.email_field :email,required: "required", class: "form-control col-md-7 col-xs-12"%>

              </div>
            </div>


            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone_number">Teléfono <span class="required">*</span>
              </label>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_field :phone_number,required: "required", class: "mobile_number_format form-control col-md-7 col-xs-12"%> 
              </div>
            </div>            
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">Descripción <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%=f.text_area :description,required: "required", class: "form-control col-md-7 col-xs-12"%> 
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="link">Liga <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :link,required: "required", class: "form-control col-md-7 col-xs-12"%>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Document_Link">Información Adicional <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :Document_Link,required: "required", class: "form-control col-md-7 col-xs-12"%>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Notes">Notas <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">                         
                <%=f.text_field :Notes,required: "required", class: "form-control col-md-7 col-xs-12"%>
              </div>
            </div>

             <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="image">Imagen  <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="upload_image_right">
                    <div class="upload_image_box">
                        <%=image_tag(get_service_image(@service),class: "resolve",style: "height:120px; width:202px;")%>
                    </div>
                    <div class="upload_image_btn">
                        <div class="fileUpload btn btn-primary">
                            <span>+</span>
                            <%=f.file_field :photo , class: "form-control col-md-7 col-xs-12 upload"%>
                            <!-- <input type="file" class="upload" /> -->
                        </div>
                    </div>
                    </div>
              </div>
            </div>

            <!-- <div class="item form-group">
              <label for="photo" class="control-label col-md-3">photo</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%#=f.file_field :photo,required: "required", class: "form-control col-md-7 col-xs-12"%> 
              </div>
            </div> -->

            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
              <%=f.submit "Guardar" ,class: "btn btn-success"%>
                <%=link_to "Cancelar",admins_services_path,class: "btn btn-primary"%>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
$(document).ready(function(){
  $("#service_school_id").select2();
   mobileNumberFormat()
    $("#service_photo").on('change', function () {

      if (typeof(FileReader) != "undefined") {

          var image_holder = $(".upload_image_box");
          image_holder.empty();

          var reader = new FileReader();
          reader.onload = function (e) {
              $("<img />", {
                  "src": e.target.result,
                  "class": "thumb-image resolve",
                  "style": "width:120px; height:120px;"
              }).appendTo(image_holder);
          }
          image_holder.show();
          reader.readAsDataURL($(this)[0].files[0]);
      } else {
          alert("This browser does not support FileReader.");
      }
  });
    })
</script>