<!DOCTYPE html>
<html>
<head>
	<!-- <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	  -->  
	<title>Studo</title>
	<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	
</head>
<%if admin_signed_in?%>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<%= render partial: 'layouts/header_admin' %>
			<%= yield %>
		</div>
	</div> />
	<script type="text/javascript" src="/assets/admins/custom.js"></script>	
</body>
<%=render 'layouts/message'%>
<%else%>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			
			<%= yield %>
		</div>
	</div>

</body>

<%end%>

</html>
